* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    z-index: 0;
    font-family: SanFran-Ultralight;

}


/*----------------------------------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.97);
    top:0px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);


}

header ul {
    height: 60px;
    padding-left: 150px;
    padding-right: 150px;

    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

header ul li {
    text-align: center;
    justify-content: center;
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.li1 {
    flex: 1;
    font-family: SanFran-Ultralight;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;

}


/*--------------------------------------------------------------------*/

.main {
    margin-top: 60px;
    background-color: #FCFCFC;
    display: block;
    text-align: left;

}

#heading {
    display: block;
    /*margins handled by javascript*/
    height: 100px;
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #E0E0E0;
    /*background-color: #aeaeae;*/
}

#mypic {
    background-image: url("../images/mypic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 30px;
    border-radius: 50px;

}

#myinfo {
    display: block;
}

#myinfo h1 {
    font-family: SanFran-Ultralight;
    font-size: 30px;
    color: #4B4F56;
    padding: 5px;

}

#myinfo h2 {
    font-family: SanFran-Ultralight;
    font-size: 15px;
    color: #4B4F56;
    padding: 5px;
}

/*--------------------------------------------------------------------*/

#projects {
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;

}


div.project_class {
    position: relative;
    width: 350px;
    /*height: 420px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    top: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
}

div.project_image {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
    height: 250px;
}

div.project_info {
    margin: 20px 20px 0px 20px;
    padding: 0px 0px 10px 0px;
    height: 80px;
    /*background-color: #aeaeae;*/
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #E0E0E0;
}

div.project_info h1 {
    font-family: SanFran-Regular;
    font-size: 20px;
    color: #4B4F56;
}

div.project_info h2 {
    margin-top: 11px;
    font-size: 15px;
    color: #90949C;
}

div.project_links {
    padding: 20px;
    text-align: left;
    font-family: SanFran-UltraLight;
    font-size: 10px;

}

div.project_class:hover {
    top: -10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.2);
}

#codeIcons {
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /*margin handled by js*/
}


div.codeIcon_class {
    width: 50px;
    height: 70px;
    text-align: center;
    margin: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

div.codeIcon_image {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(0%); filter: grayscale(0%);

}

div.codeIcon_info {
    font-family: SanFran-UltraLight;
    font-size: 9px;
    color: #4B4F56;
    display: none;
    padding-top: 10px;
}


div.codeIcon_image:hover + div.codeIcon_info {
    display: block;
}

/*----------------------------------------------------------------------------*/
#links {
    display: block;
    /*margins handled by javascript*/
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #E0E0E0;
}

.linksList {
    display: block;
    list-style-type: none;
    margin-top: 75px;
    height: 50px;

}

.newlogo {
    float: left;
    margin-top: 0px;
}

.copyright {
    float: left;
    margin: 15px 20px 0px 20px;
    /*display: none;*/
    font-family: SanFran-UltraLight;
    font-size: 14px;
}

.smlogo {
    float: right;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 15px;
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.smlogo:hover {
    -webkit-filter: grayscale(0%); filter: grayscale(0%);

}

/*----------------------------------------------------------------------------*/
@font-face {
    font-family: SanFran-UltraLight;
    src: url('../fonts/SanFranciscoDisplay-Ultralight.otf');
}
@font-face {
    font-family: SanFran-Regular;
    src: url('../fonts/SanFranciscoDisplay-Regular.otf');
}

/*----------------------------------------------------------------------------*/
